<section class="content1">
  <div class="image">
    <img src="../assets/image.png"  />
  </div>
  <div class="contenttext">
    <p class="p1">
      Few words about us...
    </p>
    <h5 class="p2">
      About Us
    </h5>
    <p class="p3">
      We are one of the top most grocery stores in the city. Established in
      2000’s, we serve our customers the best quality with affordable prices. We
      have 6 branches located all over the country.
    </p>
  </div>
</section>
<section class="content2">
  <div>
    <img src="../assets/logo.jpg" alt="" width="20%%" height="10%" />
    <h5>Quality Products</h5>
    <p>We work with best suppliers to maintain the quality of our products</p>
  </div>
  <div>
    <img src="../assets/logo.jpg" alt="" width="20%%" height="10%" />
    <h5>Affordable Price</h5>
    <p>We work with best suppliers to maintain the quality of our products</p>
  </div>
  <div>
    <img src="../assets/logo.jpg" alt="" width="20%%" height="10%" />
    <h5>Open 24/7</h5>
    <p>We work with best suppliers to maintain the quality of our products</p>
  </div>
</section>
